<web-app>

<servlet>
<servlet-name>myservlet</servlet-name>
<servlet-class>servletclass.login</servlet-class>
</servlet>

<servlet>
<servlet-name>logout</servlet-name>
<servlet-class>servletclass.logout</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>myservlet</servlet-name>
<url-pattern>/mywelcomeservlet</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>logout</servlet-name>
<url-pattern>/logout</url-pattern>
</servlet-mapping>

</web-app>