@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: #222;
}
/*Start of NavBar*/
.headd{
    background-color: #24252A;
}

li, a, button{
    font-family: "Montserrat", "sans-serif";
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.headd{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
    width: 150px;
    height: 150px;
}

.nav li{
    display: inline-block;
    padding: 0px 20px;
}

.nav li a{
    transition: all 0.3s ease 0s;
}

.nav li a:hover{
    color: #0088a9;
}

.nav-btn{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.nav-btn:hover{
    background-color: rgba(0,136,169,0.8);
}
/*End of NavBar*/

@media(max-width: 430px){
    .nav-btn{
        margin-top: 300px;
        margin-left: -210px;
    }
}

@media(max-width: 300px){
    .nav{
        margin-top: 200px;
        margin-left: -110px;
    }
    .nav-btn{
        margin-top: 400px;
        margin-left: -170px;
    }
}