@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.news-box{
    width: 1000px;
    height: 200px;
    background: #feeee7;
    margin: 0 auto;
    margin-top: 60px;
    border: none;
    border-radius: 30px;
    }
    
    
    .news-box h3{
        text-align: center;
        padding-top: 70px;
        font-family: "Montserrat", "sans-serif";
    }
    
    .news-btn{
        display: block;
        margin: 0 auto;
        padding: 5px 5px 5px 5px;
        color: black;
        margin-top: 10px;
    }
    
    @media(max-width: 1050px){
        .news-box{
            width: 100%;
            height: 200px;
            background: #feeee7;
            margin: 0 auto;
            margin-bottom: 30px;
            border: none;
            border-radius:unset;
            }
    }
    